# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - name: Build
        id: builder
        run: GOOS=linux GOARCH=mipsle GOMIPS=softfloat go build -ldflags "-w -s" -v ./... | awk '{print "artifact="$1}' >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: nuist_rover
          path: ${{ steps.builder.outputs.artifact }}
